.logo-and-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-and-name.custom-flipped .logo{
  /* margin-left: 1em; */
}

.logo-and-name img {
  /* margin-top: 1rem; */
  vertical-align: top;
}

.block-system-header .site-name, .block-system-header .logo {
  /* display: table-cell; */
  /* vertical-align: middle; */
}

.menus-and-switcher, .custom-header-wrapper {
  display: flex;
}

.menus-and-switcher {
  align-items: baseline;
  visibility: visible;
  /* font-size: smaller; */
}

.menus-and-switcher.active {
  visibility: hidden;
  /* font-size: smaller; */
}

.menus-and-switcher {
  align-items: baseline;
  /* font-size: smaller; */
}
.custom-nav-menu + .custom-user-menu {
  padding-inline-start: 2em !important;
  margin-inline-start: 2em;
  position: relative;
}
.header-menu-block {
  display: flex;
  align-items: center;
  line-height: 1.5 !important;
}
.header-menu-block ul li a {
  line-height: 1.5 !important;
}
.custom-header-wrapper {
  justify-content: space-between;
  align-items: center;
  /* font-size: small; */
  margin: 2rem 0;
}
.header-logo {
  /* margin-right: 1rem; */
}
.logo-and-name h1 {
  margin: 0;
}
@media (min-width: 48em) {
  .header-menu-block {
    float: none !important;
  }
}

.custom-nav-menu + .custom-user-menu {
}
@media (min-width: 75rem) {
  .custom-nav-menu + .custom-user-menu:before {
    position: absolute;
    width: 2px;
    height: 1rem;
    content: "";
    background-color: #fff;
    inset-inline-start: 0%;
  }
}

.l-header .menu a, .header-menu-block a {
  line-height: unset !important;
  padding: 0 0.8rem !important;
}

@media (min-width: 48em) {
  .js .menu-dropdown li.has-children > a {
    padding-right: 1.75rem !important;
  }
}

.js .menu-dropdown li.has-children > a {
  padding-right: 1.625rem !important;
}
.js .menu-dropdown li.has-children ul a {
  padding: 1rem !important;
}
@media (min-width: 34em)
.l-header .menu a, .header-menu-block a {
  padding: 1rem 1.25rem;
}
.l-header .header-menu-block {
  padding: 0;
}
.l-header .header-menu-block li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0;
  float: left;
}
.l-header .header-menu-block li.last a {
  border-bottom: 0;
}
.l-header ul.menu a,
.js .menu-dropdown a,
.js .menu-dropdown a:hover,
.js .menu-dropdown a:focus,
.js .menu-dropdown a:active,
/* Prevents 2+ level menu items with child items from "jumping" when their 
   child items are hovered over. */
.js .menu-dropdown .has-children a {
  height: unset !important;
  line-height: unset !important;
}
.l-header ul.menu {
  font-size: unset !important; 
  margin: 0;
  padding: 0;
  line-height: 1.5 !important;
}
.l-header ul.menu a, .js .menu-dropdown a, .js .menu-dropdown a:hover, .js .menu-dropdown a:focus, .js .menu-dropdown a:active, .js .menu-dropdown .has-children a {
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
}

.header-search {
  position: relative;
  height: 2rem;
}

.header-search .search-block-wrapper {
  border: 0;
  font-size: 18px;
  height: 2rem;
  width: 2rem;
  transition: width 0.3s ease;
  display: none;
}
.header-search .search-block-wrapper input {
  height: 1.8rem;
  width: 9rem;
  border: none;
}

.header-search .search-block-wrapper .form-item {
  margin: 0;
}

.btn {
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  padding: 5px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.header-search.active .search-block-wrapper {
  width: 9rem;
  background-color: #fff;
  display: block;
}

.header-search.active .btn {
  transition: transform 0.3s ease;
  transform: translateX(9rem);
  background-color: #fff;
  height: 2rem;
  width: 2rem;
}

.magnifier {
  fill: #ffffff;
  background: none;
}
.header-search.active .magnifier {
  fill: #00ffff;
}
.header-search svg {
  background: none;
  margin: auto;
  width: 100%;
  display: block;
}
.header-search.active svg {
  background-color: #ffffff;
}
